DISCORD_CLIENT_ID = ""
DISCORD_TOKEN = ""
DISCORD_TARGET_SERVER = ""

# Database Configuration (Prisma ORM with MariaDB/MySQL)
DATABASE_URL="mysql://user:password@localhost:3306/dbname"

# Redis Sentinel Configuration
REDIS_SENTINEL_HOSTS="127.0.0.1:26379,127.0.0.1:26380"
REDIS_SENTINEL_NAME="mymaster"
REDIS_PASSWORD=""
REDIS_SENTINEL_PASSWORD=""
NODE_ENV="development"